agate==1.6.1
agate-dbf==0.2.2
agate-excel==0.2.2
agate-sql==0.5.3
awesome-slugify==1.6.5
awscli>=1.16.89
Babel==2.13.1
csvkit==1.3.0
dbfread==2.0.7
et-xmlfile==1.0.1
gdrive-datastore==0.0.1.5
isodate==0.5.4; python_version < '3.0' 
isodate==0.6.1; python_version >= '3.0' 
jdcal==1.3
leather==0.3.3
openpyxl==2.4.2
pandas~=2.0.3
parsedatetime==2.1
psycopg2-binary==2.7.4; python_version < '3.0'
psycopg2-binary==2.8.6; python_version >= '3.0'
python-dateutil==2.8.2
pytimeparse==1.1.5
pytz==2020.1
regex==2016.12.27
six==1.10.0
SQLAlchemy~=1.3.0
Unidecode==0.4.19
xlrd==1.0.0
